{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "markdown",
        "proseWrap": "always"
      }
    }
  ]
}
