html {
  box-sizing: border-box;
  background: #041122;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .App-header {
    justify-content: center;
    min-height: 812px;
  }

  h1 {
    justify-content: center;
    font-size: 2rem;
  }
}

.App {
  text-align: center;
  margin: 2rem auto;
}

footer {
  margin-top: 3rem;
}
footer ul {
  margin-top: 1rem;
  padding: 0;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
}

footer ul a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
  color: black;
}

ul li:last-child a {
  margin-right: 0;
}

footer svg {
  fill: white;
}

footer a:hover svg {
  fill: rgba(255, 20, 147, 0.8);
}

a {
  color: rgb(255, 20, 147);
}

.me-logo {
  grid-column: logo;
  height: 40vmin;
  pointer-events: none;
  mask-image: radial-gradient(
    rgba(0, 0, 0, 1) 65%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.name {
  grid-column: name;
  margin: auto;
}

main {
  margin: 0 1rem;
}

.intro {
  font-size: 1.2rem;
}

.content {
  background: rgb(245, 248, 250) none repeat scroll 0% 0%;
}

.App-header {
  min-height: 20vh;
  display: grid;
  grid-template-columns: [logo] 1fr [name] 1fr;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 0 1.8rem 0;
}

.App-link {
  color: #666;
}

.portfolio {
  align-items: center;
  justify-items: center; /* adjusted */
  display: grid;
  grid-template-columns: 1fr;
}

.portfolio a {
  text-decoration: none;
}

.portfolio a:not(:first-child) {
  margin-top: 1rem;
}
