@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .App-header {
    min-height: 812px;
  }
}

.App {
  text-align: center;
  padding: 40px;
}

.me-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #666;
}

.App-link {
  color: #666;
}
