@font-face {
  font-family: 'MontSerrat';
  src: local('MontSerrat'), url(./fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: MontSerrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Inter, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
